<button [routerLink]="['/home']">Home</button>
<h1 class="text-danger">Edit Pet</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="col order-last">
        <form (submit)="editPet(PetToEdit._id)">
            <div class="form-group" style="display: block">
              <label>Title</label>
              <input type="text" name="PetToEdit.name" [(ngModel)]="PetToEdit.name"><br>
            </div>
            <div class="form-group" style="display: block">
                <label>Type of pet:</label><br>
              <input type="text" name="PetToEdit.type" [(ngModel)]="PetToEdit.type">
            </div>
            <div class="form-group" style="display: block">
                <label>Glowing description:</label><br>
              <input type="text" name="PetToEdit.desc" [(ngModel)]="PetToEdit.desc">
            </div>
            <div class="form-group" style="display: block">
              <label>Main Skill:</label><br>
              <input type="text" name="PetToEdit.skill1" [(ngModel)]="PetToEdit.skill1">
        
            </div>
            <div class="form-group" style="display: block">
                <label>Additional Skill:</label><br>
              
              <input type="text" name="PetToEdit.skill2" [(ngModel)]="PetToEdit.skill2">
            </div>
            <div class="form-group" style="display: block">
                <label>He can do that too?:</label><br>
              <input type="text" name="PetToEdit.skill3" [(ngModel)]="PetToEdit.skill3">
            </div>              
              <input type="submit" value="Save">
            </form>
      </div>
    </div>
  </div>
</div>

